streamlit
accelerate

anyio

asgiref

certifi

charset-normalizer

colorama

contourpy

controlnet-aux

cycler

diffusers

Django

djangorestframework

einops

filelock

flatbuffers

fonttools

fsspec

h11

httpcore

httpx

huggingface-hub

idna

imageio

importlib_metadata

Jinja2

joblib

kiwisolver

lazy_loader

MarkupSafe

matplotlib

mpmath

networkx

numpy

ollama

opencv-python-headless

opt_einsum

packaging

pandas

pillow

protobuf

psutil

py-cpuinfo

pycparser

pyparsing

python-dateutil

rembg

gfpgan

pytz
python-dotenv
PyYAML

regex

requests

safetensors

scikit-image

scikit-learn

scipy

seaborn

setuptools

six

sniffio

sqlparse

sympy

threadpoolctl

tifffile

timm

tokenizers

torch

torchvision

torchaudio

tqdm

transformers

typing_extensions

tzdata

ultralytics

ultralytics-thop

urllib3

zipp

mediapipe

easyocr

# xformers
